<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.badlogicgames.superjumper"
      android:versionCode="1"
      android:versionName="1.0.1">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Nextpeer integration: Add required permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Nextpeer integration -->
    	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon" android:allowBackup="false" android:label="@string/app_name">
        <activity android:name=".SuperJumperAndroid"
                  android:label="@string/app_name"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
   		<!-- Nextpeer integration: Add the Nextpeer activity -->
		<activity android:name="com.nextpeer.android.NextpeerActivity" />
   		<!-- Nextpeer integration -->
    </application>

</manifest> 